<%= form_with model: @book, url: book_path do |f| %>
  <div class="form-title row">
    <%= f.label :title %>
    <%= f.text_field :title, class: "col-xs-12" %>
  </div>
  <div class="form-body row">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: "col-xs-12" %>
  </div>
  <div class="actions row" >
    <%= f.submit class: "btn-primary col-xs-12" %>
  </div>
<% end %>
